<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Profile</title>
		
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
		
		<style type="text/css">
			
			.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}
			#login_form{display: block;}
			#register_form{display: none;}
			.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
			input[type="text"],input[type="password"]{padding-left:26px;}
			.checkbox{padding-left:21px;}
		</style>
		<script type="text/javascript">
	
		$(document).ready(function() {

		});
		
$(function() {
	$("#register_btn").click(function() {
		$("#register_form").show();
		$("#login_form").hide();
	});
	$("#back_btn").click(function() {
		$("#register_form").hide();
		$("#login_form").show();
	});
});
	</script>
	</head>
	
	<body>
	<div class="container">
		<div class="form row">
			<form class="form-horizontal col-md-offset-3 col-md-offset-3" id="upload_form" method="post" action="/upload_event" name="upload_form" enctype="multipart/form-data">
				<h1 class="form-title">Hi! {{ username }}!</h1>
				<h3 class="form-title">Check your profile image!</h3>
				
				<div class="col-md-12 col-md-12">
					<div class="form-group">
						<i class="fa fa-user fa-lg"></i>
						<img src="http://49.235.65.18/{{ image }}" id="show" width="200px">
					</div>
					
					{% if tag == true %}
					<div class="form-group col-md-12 col-md-12" id="notice">
						<div class="alert alert-light" role="alert">
							*Seems that you didin't have a profile image.
						</div>
					</div>
					{% else %}
					<div class="form-group col-md-12 col-md-12" id="notice">
						<div class="alert alert-light" role="alert">
							*You can access this image with http://49.235.65.18/{{ image }}
						</div>
					</div>
					{% endif %}
					
					<div class="form-group custom-file">
    					<input type="file" class="custom-file-input" id="image" aria-describedby="inputGroupFileAddon01" name="image" onchange="choose(this)" accept="image/x-png,image/gif,image/jpeg,image/bmp" required="required">
    					<label class="custom-file-label" for="inputGroupFile01" id="label_image">Choose a photo</label>
  					</div>
					
					
					<div class="form-group">
						<input type="submit" class="btn btn-success pull-right" value="Upload"/>   
					</div>
				</div>
			</form>
			<form class="form-horizontal col-md-offset-3 col-md-offset-3" id="logout_form" method="post" action="/logout_event" name="logout_form">
				<div class="col-md-12 col-md-12">
					<div class="form-group">
						<input type="submit" class="btn btn-warning pull-left " value="Logout"/>
					</div>
				</div>
			</form>
      </div>
     </div>
	 <script>
		function choose(){
			var reads= new FileReader();
			var max_size = 102400;
			f = document.getElementById("image").files[0];
			if(f.size > max_size){
				alert("请选择大小不超过100KB的图片！");
				return;
			}
			notice = document.getElementById("notice");
			if(notice != null){
				notice.style.display="none";
			}
			document.getElementById("image").innerHTML = f.name;
			reads.readAsDataURL(f);
			reads.onload=function (e) {
				document.getElementById("show").src = this.result;
			};
		}
	 </script>
	</body>
</html>
