<html>
<head>
  <title>Zhou's page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	
<body>

<div class="container">
  <div class="jumbotron">
    <form>
		
	</form>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>简历</h3>
      <p>我的教育经历，实习以及项目情况</p>
      <button type="button" class="btn btn-primary col-sm-5" onclick="window.location.href='/profile'">go for it</button>
    </div>
    <div class="col-sm-4">
      <h3>博客</h3>
      <p>CSDN & github</p>
	  <button type="button" class="btn btn-primary col-sm-5" onclick=javascript:window.open('https://blog.csdn.net/weixin_44826484')>go for it</button>
    </div>
    <div class="col-sm-4">
      <h3>Yagra</h3>        
      <p>随笔 感想</p>
      <button type="button" class="btn btn-primary col-sm-5" onclick="window.location.href='/yagra'">go for it</button>
    </div>
  </div>
</div>
</body>
</html>
